body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
header{
    background: linear-gradient(to right,green,black);
}
h1{    text-align: center;}
a{
    color: rgb(210, 10, 10);
    justify-content: center;
}
iframe{
    margin-top: -155%;
    width: 70%;
    height: 1000px;
}
nav{
    background:linear-gradient(green , black) ;
    width: 15%;
    height: 1000px;


}
.fb{
    background-color: blue;
    animation: fcb;
    animation-duration: 2s;
    animation-delay: 1s;

}
@keyframes fcb{
    10%{  width: 50px;}
    20%{  width: 60px;}
    40%{ width: 70px;}
    60%{ width: 80px;}
    80%{  width: 90px;}
    100%{ width: 100px;}

}
.insta{
    background-color: purple;
    animation-name: inst;
    animation-duration: 4s;
    animation-delay: 1s;
}
@keyframes inst{
    10%{  width: 5px;}
    20%{  width: 10px;}
    40%{ width: 20px;}
    60%{ width: 30px;}
    80%{  width: 40px;}
    100%{ width: 50px;}

}